<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% include 'header.html' %}
</head>
<body>

{% include 'nav.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Bugine</h1>
    <p class="lead">For issue recommendation.</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Step 1: Description</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Parsing source code from GitHub</li>
                    <li>Extract description file</li>
                </ul>
                <a href="descript" class="btn btn-lg btn-block btn-primary">Go</a>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Step 2: Query</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Submit query request</li>
                    <li>Select excluded app(s)</li>
                </ul>
                <a href="query" class="btn btn-lg btn-block btn-primary">Go</a>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Step 3: Result</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Check query status</li>
                    <li>Retrieve query result</li>
                </ul>
                <a href="result" class="btn btn-lg btn-block btn-primary">Go</a>
            </div>
        </div>
    </div>
    <div class="jumbotron">
    <h2 class="font-weight-normal">Instructions for use</h2>
    <p class="lead">Following the workflow, and passing (copy and paste) by the tokens between each step.</p>
  </div>
</div>

</body>
</html>